.font-weight-bold{
    font-size: larger;
    font-weight: bold;
}
.shadows{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
.has-error{
    border-color: red;
}

.has-success{
    border-color : green;
}