    <app-topnav></app-topnav>
    <div class="homeDiv">
        <div class="backround-circle pos-1 s-1 c-1"></div>
        <div class="backround-circle pos-3 s-2 c-2"></div>
        <img src="./assets/img/display animation.gif" alt="">
        <div>
            <p class="tagline display-2"><span>Less stress when 
                <div class="backround-circle pos-5 s-1 c-1"></div>
                <br >sharing expenses <br> </span><span class="green">
                <div class="backround-circle pos-5 s-2 c-2"></div>with anyone</span>.</p>
            <button class="btn btn-lg loginbtn m-3" routerLink="/login">Login</button>
            <button class="btn btn-lg signupbtn " routerLink="/signup">SignUp</button>
            <div class="backround-circle pos-1 s-1 c-1"></div>
            <div class="backround-circle pos-5 s-1 c-2"></div>
            <div class="backround-circle pos-4 s-2 c-1"></div>
            <div class="backround-circle pos-5 s-1c-2"></div>
            

        </div>
        
    </div>