<app-logintopnav></app-logintopnav>
<div routerLink="/dashboard" class="px-4 mb-4 pointer">
    <h5><i class="fa fa-angle-double-left"></i> Dashboard</h5>
</div>
<div class="container-fluid">
    <div class="backimg">
        <img src="./assets/img/settleBackground.png" alt="">
    </div>
    <div class="margin-auto">
                <div class="shadows p-2 background-grey w-75 margin-auto border-radius">
                    <div class="row mb-4 mt-2">
                        <div class="col-md-9">
                            <h5 class="font-weight-bold grey">Each Person should have spent &#8360; {{target}}</h5>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-green btn-lg" (click)="settlePayment(groupid)">Settle Expenses</button>
                        </div>
                    </div>
                    <div *ngIf="settled" class="text-center">
                        <h4>Hurray your payments are already settled !!</h4>
                    </div>
                    <div *ngIf="!settled">
                        <div *ngFor="let res of result" class="background-green margin-auto w-50 border-radius p-2 mb-2 mt-2" >
                            <h4 class="text-center">{{res}}</h4>
                        </div>
                    </div>
                </div>
    </div>

</div>